.homeSlide .box {
    margin-top: 10px; /* Adjusted margin-top */
    margin-bottom: 10px; /* Adjusted margin-bottom */
    padding: 10px 40px 30px; /* Adjusted padding */
}

.homeSlide h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 20px 0 10px; /* Adjusted margin */
    color: rgb(10, 139, 194);
    font-family: cursive;
    font-weight: 700;
}

.homeSlide p {
    margin: 10px 0; /* Adjusted margin */
}

.homeSlide ul {
    position: absolute;
    bottom: 10px; /* Adjusted bottom position */
}

.homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 6px; /* Adjusted padding */
}

.homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li button::before {
    font-size: 15px !important;
    color: #0f3460;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
}

.homeSlide .box img {
    width: 100%;
    max-height: 280px; /* Adjusted max-height */
    object-fit: contain;
}

.btn-primary {
    padding: 1rem;
    border-radius: 1rem;
}